<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Додати піцу</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Піцерія</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Головна</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('admin') }}">Додати піцу</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('pizzas') }}">Список піц</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>Додати нову піцу</h1>
        <form action="/admin" method="POST">
            <label for="name">Назва піци:</label><br>
            <input type="text" id="name" name="name" required><br><br>

            <label for="description">Опис піци:</label><br>
            <textarea id="description" name="description" required></textarea><br><br>

            <label for="price">Ціна:</label><br>
            <input type="number" id="price" name="price" required><br><br>

            <input type="submit" value="Додати піцу">
        </form>
    </div>
</body>
</html>